<%- include('partials/header'); -%>

    <h1 class="intro">Introduction</h1>

    <p class="intro-content">
        <%=homeStartingContent%>
    </p>

   
    <% posts.forEach((post)=> { %>

        <h1>
            <%= post["title"] %>
        </h1>


        <p>
            <%= post["content"].substring(0,100) + " ..." %> <a href="/posts/<%= post._id %>"
                    style="text-decoration: none;">Read more</a>
        </p>

        <% }) %>

            <%- include('partials/footer'); -%>